@model MvcMegaFormsDemo.Models.ComplicatedForm

@{
    ViewBag.Title = "Alerts you if you have changes form elements and try to leave!";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <p><strong>MVC Mega Forms</strong> demo - showing how the form change stuff works.</p>
    </div>
</section>
}

<h3>Either make a change, or don't!  See what happens when you navigate away without submitting...</h3>

@using (Html.BeginForm("EditorForModel", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "Please correct the errors and try again.")

    <fieldset>
        <legend>This is a normal posting form</legend>
        @Html.EditorForModel(Model)
        <input type="submit" value="submit" />
    </fieldset>
}

@*@using (Ajax.BeginForm("EditorForModel", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "Please correct the errors and try again.")

    <fieldset>
        <legend>This is an AJAX posting form</legend>
        @Html.EditorForModel(Model)
        <input type="submit" value="submit" />
    </fieldset>
}
*@