@model MvcMegaFormsDemo.Models.ComplicatedForm
@{
    ViewBag.Title = "A not-so-simple form!";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <p><strong>MVC Mega Forms</strong> demo - showing scenarios the components can be used in.</p>
    </div>
</section>
}

<h3>A not-so-simple form:</h3>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "Please correct the errors and try again.")

    <fieldset>
        <legend>Please fill in the form</legend>
        @Html.EditorForModel(Model)
@*        <ol>
            <li>
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description)
                @Html.ValidationMessageFor(m => m.Description)
            </li>
        </ol>
        @Html.HiddenFor(m=>m.ComplicatedFormId)*@
        <input type="submit" value="submit" />
    </fieldset>
}
