<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/themes/base/css", "~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <h1>MVC Mega Forms Website for Testing</h1>
        @Html.ActionLink("Home Page", "Index", "Home") | <a href="http://nootn.github.com/MVC-Mega-Forms/" title="View the Project Site">View the Project Site</a>
        <hr/>
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/site")
        @RenderSection("scripts", required: false)
    </body>
</html>
